body {
    background-attachment: fixed;
    background-size: cover;
}
div.sites{
    float: left;
    margin: 20px;
    border: 2px solid rgba(2, 2, 2, 0.521);
    background-color: rgba(2, 2, 2, 0.521);
}
div.menu{
    height: inherit;
    width: inherit;
    margin-left: 150px;
    margin-right: 150px;
}
div.title{
    background-color: rgba(2, 2, 2, 0.363);
    width: inherit;
    height: 100px;
    border: 0cm;
}
div.img{
    float: left;
    margin: 20px;
}
